<!DOCTYPE html>
<html>
<script>
    const url = '/API/api.php';
    var toDeleteArray = [];

    document.addEventListener('DOMContentLoaded', getData);

    function getData() {
        fetch(url)
            .then(response => response.json())
            .then(result => {
                result = JSON.parse(result)
                result.forEach(product => {
                    const container = document.getElementById('addC');
                    const card = document.createElement('div');
                    card.classList.add('card');
                    card.innerHTML = `
                  <input type="checkbox" class="delete-checkbox" data="${product.id}">
                  <div class="card-content">
                    <h2>${product.sku}</h2>
                    <p>${product.name}</p>
                    <p>${product.price}$</p>
                    <p>Size: ${product.attribute}</p>
                  </div>                    
                `;
                    container.appendChild(card);
                });
            })
            .catch(error => {
                console.error(error);
            });
    }

    function getCheckBoxes(className) {
        const checkboxes = document.querySelectorAll(`input[type="checkbox"].${className}:checked`);
        const checkboxValues = Array.from(checkboxes).map(checkbox => checkbox.getAttribute('data'));
        return checkboxValues;
    }
    function toDelete() {
        toDeleteArray = getCheckBoxes('delete-checkbox');
        console.log(toDeleteArray)

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                operation: 'delete',
                items: toDeleteArray
            })
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload(true);
                } else {
                    console.error('Error deleting array:', response.statusText);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>

<head>
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="/Views/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Product List</h1>
            </div>
            <div class="buttons">
                <a href="/add-product"><button id="addButton">ADD</button></a>
                <button id="delete-product-btn" onclick="toDelete()">MASS DELETE</button>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="product-cards" id="addC">


        </div>
    </div>
    <footer>
        <p>ScandiWeb Test assignment</p>
    </footer>
</body>

</html>